#nav {
    background-color: skyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
}

body {
    /*background-image: linear-gradient(rgb(87, 87, 190),rgb(201, 238, 245));*/
    background-size: cover;
    margin: 3%;
}

#header{
    border-style: double;
    color:rgb(168, 192, 216);
    text-align: center;
}

.foto{

    width: 15%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}

.parrafo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(8, 8, 8);
    text-align: justify;
}

.h2{
    border-style: inherit;
    background-color: rgb(92, 185, 247);
    text-align: center;
    color:#9c9797;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h3{
    border-style: inherit;
    text-align: center;
    color:#9c9797;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.table, th, td{
    padding: 0px;
    margin: 0px;
    border-spacing: 0px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #333;
    background-color: rgb(168, 231, 250);
    justify-content: center;
    align-items: center;   
}

.button {
    font-family: fantasy;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(87, 148, 240);
    text-align: center;
}

#bl1{
    width: 30%;
    float: left;
    margin: 0.8%
}

#bl2{
    width: 69%;
    float: right;
    margin: 0.8%;
    background-color: skyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
}