#capur{
    background-image: url(../img/capurgana.jpg);
    background-size: cover;
    width: 100%;
    height: 70vh;
}

#capurga{
    text-align: center;
    color: white;
    font-size: 9vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10%;  
}
#esquema{
    text-align: center;
    color: rgb(97, 194, 240);
    font-size: 9vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 4%;   
}

#esque {
    width: 100%;
    height: 100%;
    border-color: black;
    border-style: groove;
}
#paraiso{
    text-align: center;
    color: white;
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

#bloque1{
    float: left;
    width: 20%;
    height:430px;
    padding-top: 6vh;
    padding-left: 3vh;
    margin-top: 3%;
}

#bloque2{
    float: left;
    width: 65%;
    height:500px;
    text-align: center;
    padding-left: 6%;
    margin-top: 6%;
}

#bloque3{
    float: left;
    width: 55%;
    height:600px;
    padding-top: 6vh;
    padding-left: 3vh;
    margin-top: 3%;
}

#bloque4{
    float: left;
    width: 30%;
    height:700px;
    text-align: center;
    padding-left: 6%;
    margin-top: 3%;
}

section::after {
    content: "";
    display: table;
    clear: both;
  }

#choco{
    color: rgb(97, 194, 240);
    text-align: center;
    font-family: monospace;
    font-size: 5vh;
    padding-left: 2%;
}

.titulo{
    color: rgb(97, 194, 240);
    text-align: justify;
    font-family: monospace;
    font-size: 4vh;
    padding-left: 2%;
}

.info{
    text-align: justify;
    font-family: monospace;
    font-size: 2vh;
}