header{
    background-image: url(../img/tayrona.jpg);
    background-size: cover;
    width: 100%;
    height:50vh;
}

#parque{
    text-align: center;
    color: white;
    font-size: 6vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10%;   
}

#paraiso{
    text-align: center;
    color: white;
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

#bloque1{
    float: left;
    width: 720px;
    height:430px;
    padding-top: 6vh;
    padding-left: 3vh;
    margin-top: 3%;
}

#bloque2{
    float: left;
    width: 30%;
    height:430px;
    text-align: center;
    padding-left: 6%;
    margin-top: 6%;
}

section::after {
    content: "";
    display: table;
    clear: both;
  }

  .titulo{
    color: rgb(97, 194, 240);
    text-align: justify;
    font-family: monospace;
    font-size: 3vh;
    padding-left: 2%;
}

.info{
    text-align: justify;
    font-family: monospace;
    font-size: 2vh;
}