.top{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#15417b;
    text-align: center;
    font-size:6vh;
}

.top2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#3c77c3;
    text-align: center;
    font-size:4vh;
}

#mejor{
    font-family: fantasy;
    color:black;
    text-align: center;
    font-size: 7vh;
}

.parrafo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 3vh;
    color: rgb(124, 124, 124);
}

.parrafo2{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 3vh;
    color: rgb(124, 124, 124);
    margin-left: 5%;
}

table{
    width:100%;
    COLOR:rgb(124, 124, 124);
    font-size: 0.8em;
    padding-left: 5%;
    padding-right: 5%;
}
th, td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(124, 124, 124);
    text-align: center;
    width:30%;
    height:50vh;    
}

#promo{
    width: 45vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#bloque1{
    float: left;
    width: 25%;
    height:200vh;
    text-align: center;
    padding-top: 6vh;
    padding-left: 2%;
    margin-top: 3%;
    background-color: rgb(19, 100, 138);
}

#bloque2{
    float: left;
    width: 60%;
    height:200vh;
    text-align: center;
    margin-top: 3%;
    padding-top: 6vh;
    padding-left: 8%;
    padding-right: 4%;
}

section::after {
    content: "";
    display: table;
    clear: both;
  }

.foto{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.txt1{
    color: white;
    font-family: monospace;
    font-size: 3vh;
    text-align: center;
}

.txt2{
    color: white;
    text-align: justify;
    font-family: monospace;
    font-size: 3vh;
}

.txt3{
    color: white;
    text-align: justify;
    font-family: monospace;
    font-size: 2vh;
    padding-left: 2%;
    padding-right: 1%;
}

.titulo{
    color: rgb(97, 194, 240);
    text-align: justify;
    font-family: monospace;
    font-size: 3vh;
    padding-left: 2%;
}

.info{
    text-align: justify;
    font-family: monospace;
    font-size: 2vh;
}

#linked{
    width: 10vw;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pic{
    width: 100%;
    height: 100%;
}
.pict{
    width: 50%;
    height: 100%;
}

.pic2{
    width: 15%;
    height: 15%;
}

.pic3{
    width: 5%;
    height: 5%;
}

.pic4{

    width: 80wh;
    height: 60vh;
    text-align: center;
    margin-left: 25%;
}