body{
    background-image: url("viaje.jpeg");
    background-size: cover;
    margin-top: 20%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 20%;
}

.h1{
    background-color: rgb(82, 173, 169);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#div1{
    background-color: thistle;
    width: 74%;
    height:10%;
    position: relative;
    float:left;
}

#div2{
    
    background-color: thistle;
    width: 24%;
    height:10%;
    position: relative;
    float:right;
}

  

header {

    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(184, 248, 250);
  }
  
section{
    font-family: monospace;
}
nav {
    float:right;
    width: 8%;
    height: 510px; 
    background: rgb(240, 239, 239);
    margin:1%;
  }
  

  
article {
    float:left;
    width: 86%;
    background-color: #f1f1f1;
    height: 60v; 
    margin:1%;
  }
  


footer {
    background-color: rgb(82, 173, 169);
    padding: 10px;
    text-align: center;
    color: white;
  }
  
