

#debajo{
    background-image: url("../img/prog.jpg");
    background-size: cover;
    width:100%;
    height: 15vh;
    text-align: center;
    font-family: fantasy;
}

#bien{
    text-align: center;
    color:white;
    font-size: 4vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#find{
    color:#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 0.5%;
    font-size:2vh;
}

nav{
    float: left;
    width: 15%;
    height:66vh;
    text-align: center;
    vertical-align: center;
    margin-top: 2%;
}

.nave{
    list-style-type: none;
    background-color: #15417b;
    padding-top: 8%;
    padding-bottom: 8%;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size: 1vh;
  }

a{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size: 2vh;
}
.nave2{
    list-style-type: none;
    padding-top: 8%;
    padding-bottom: 8%;
  }

article{
    float: left;
    width: 82%;
    height: 66vh;
    margin-left: auto;
    margin-right: auto;
    display: block;  
}
section::after {
    content: "";
    display: table;
    clear: both;
  }

footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../img/prog.jpg");
    background-size: cover;
    height: 11vh;
    text-align: center;
    font-size: 1.2vh;
    color: white;
}

table{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.th1 {
    font-family: cursive;
    text-align: center;
    font-size: 0.5vh;
}
.th2 {
    font-family: cursive;
    text-align: center;
    font-size: 0.5vh;    
}
table::after {
    content: "";
    display: table;
    clear: both;
  }

#copyright{
    color:white;
    text-align: center;
    font-size: 1vh; 
    font-family: cursive;  
}
footer::after {
    content: "";
    display: table;
    clear: both;
  }

#frame{
    width: 100%;
    height:100%;
}